	<li><h4>
		<table>
			<tr>
				<td><%= comment.total_votes %></td>
				<td><%= link_to "Up",  comment_votes_path(comment, :value => 1), :method => :post%> <%= down_vote_link(comment) %></td>
				<td><%= comment.user.username %></td></h4>
				<td><%= link_to "New Comment", [ :comment, comment], :class => "new" %></td>
			</tr>
			<tr><%= comment.reply %></tr>
		</table>
	</li>
<%	unless comment.comments.empty? %>
<%		comment.comments.each do |comment| %>
		<ul class="respond-list">
			<%= render 'comments/comments', :comment => comment %>
		</ul>
	<% end %>
<% end %>




