	<li><h4>
		<table>
			<tr>
				<td><%= comment.total_votes %></td>
				<td><%= link_to "",  comment_votes_path(comment, :value => 1), :method => :post, :class => "icon-arrow-up" %> <%= down_vote_link(comment) %></td>
				<td><%= comment.user.username %></td></h4>
				<td><i class="icon-comment"></i>  <%= link_to "New Comment", new_comment_comment_path(comment) %></td>
			</tr>
			<tr><%= comment.reply %></tr>
		</table>
	</li>
<%	unless comment.comments.empty? %>
<%		comment.comments.each do |comment| %>
		<ul class="respond-list">
			<%= render 'comments/comments', :comment => comment %>
		</ul>
	<% end %>
<% end %>




