
<%= paginate @links %>
<table class ="table table-striped">
	<thead>
		<tr>
			<td>
				Vote
			</td>
			<td>
				Total Votes
			</td>
			<td>
				Title
			</td>
			<td>
				Link
			</td>
			<td>
				Author
			</td>
		</tr>
	</thead>
<% @links.each_with_index do |article|%>
	<tr>
		<td><%= link_to "Up",  link_votes_path(article, :value => 1), :method => :post%> <%= down_vote_link(article) %>  </td>
		<td><%= article.total_votes %></td>
		<td><%= link_to article.title, article  %></td>
		<td><%= link_to article.url, article.url %></td>
		<td><%= article.user.username %></td>
		<td><%= link_to "New Comment", [ :new, article, :comment] %>
	</tr>
<% end %>
</table>
<%= paginate @links %>

		