<!DOCTYPE html>
<html>
<head>
  <title>HnClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--  Needed for Devise? -->
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<a class="brand" href="<%= root_path %>">DBC</a>
		  <ul class="nav pull-right">
				<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>
					<li><%= link_to 'Edit profile', edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<li><%= current_user.karma_points %> Karma Points</li>
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
				<li class="active submit"><%= link_to "Submit", new_link_path %></li>
			</ul>
			</div>
			
    </div>
  </div>
</div>

<div id="container">
		
		
	<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
		
		
		
		

		<%= yield %>
	</div>
</body>
</html>
