<!DOCTYPE html>
<html>
<head>
  <title>Hacker News Clown</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--  Needed for Devise? -->
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

</head>
<body>
<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a class="brand" href="<%= root_path %>">HNClown</a>
		 	<%= render 'shared/nav' %>
			</div>
    </div>
  </div>
</div>


<div class="container-fluid body">
		<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
		<%= yield %>
	</div>
</body>
</html>
